[submodule "MADlibs"]
	path = MADlibs
	url = https://github.com/HiJinksJoker/MADlibs.git
[submodule "electricDreams"]
	path = electricDreams
	url = https://github.com/HiJinksJoker/electricDreams.git
[submodule "lightbox"]
	path = lightbox
	url = https://github.com/HiJinksJoker/lightbox.git
